<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxy.mapper.PermissionsMapper">
  <resultMap id="BaseResultMap" type="com.lxy.userEntity.Permissions">
    <!--@mbg.generated-->
    <!--@Table permissions-->
    <id column="permission_id" jdbcType="INTEGER" property="permissionId" />
    <result column="permission_name" jdbcType="VARCHAR" property="permissionName" />
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    permission_id, permission_name, description
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from permissions
    where permission_id = #{permissionId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from permissions
    where permission_id = #{permissionId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="permission_id" keyProperty="permissionId" parameterType="com.lxy.userEntity.Permissions" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into permissions (permission_name, description)
    values (#{permissionName,jdbcType=VARCHAR}, #{description,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="permission_id" keyProperty="permissionId" parameterType="com.lxy.userEntity.Permissions" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into permissions
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="permissionName != null">
        permission_name,
      </if>
      <if test="description != null">
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="permissionName != null">
        #{permissionName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lxy.userEntity.Permissions">
    <!--@mbg.generated-->
    update permissions
    <set>
      <if test="permissionName != null">
        permission_name = #{permissionName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where permission_id = #{permissionId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lxy.userEntity.Permissions">
    <!--@mbg.generated-->
    update permissions
    set permission_name = #{permissionName,jdbcType=VARCHAR},
      description = #{description,jdbcType=LONGVARCHAR}
    where permission_id = #{permissionId,jdbcType=INTEGER}
  </update>
</mapper>