<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxy.mapper.UserRolesMapper">
  <resultMap id="BaseResultMap" type="com.lxy.userEntity.UserRoles">
    <!--@mbg.generated-->
    <!--@Table user_roles-->
    <id column="user_id" jdbcType="BIGINT" property="userId" />
    <id column="role_id" jdbcType="INTEGER" property="roleId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    user_id, role_id
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="map">
    <!--@mbg.generated-->
    delete from user_roles
    where user_id = #{userId,jdbcType=BIGINT}
      and role_id = #{roleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lxy.userEntity.UserRoles">
    <!--@mbg.generated-->
    insert into user_roles (user_id, role_id)
    values (#{userId,jdbcType=BIGINT}, #{roleId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.lxy.userEntity.UserRoles">
    <!--@mbg.generated-->
    insert into user_roles
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <insert id="insertUserRole">
    insert into user_roles (user_id, role_id)
    values (#{userId}, #{roleId})
  </insert>
</mapper>