<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxy.mapper.HomeworkSubmissionsMapper">
  <resultMap id="BaseResultMap" type="com.lxy.userEntity.HomeworkSubmissions">
    <!--@mbg.generated-->
    <!--@Table homework_submissions-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="homework_id" jdbcType="BIGINT" property="homeworkId" />
    <result column="student_id" jdbcType="BIGINT" property="studentId" />
    <result column="submission_path" jdbcType="VARCHAR" property="submissionPath" />
    <result column="file_name" jdbcType="VARCHAR" property="fileName" />
    <result column="file_size" jdbcType="BIGINT" property="fileSize" />
    <result column="file_type" jdbcType="VARCHAR" property="fileType" />
    <result column="submitted_at" jdbcType="TIMESTAMP" property="submittedAt" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="feedback" jdbcType="LONGVARCHAR" property="feedback" />
    <result column="file_md5" jdbcType="VARCHAR" property="fileMd5" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, homework_id, student_id, submission_path, file_name, file_size, file_type, submitted_at, 
    `status`, feedback, file_md5
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from homework_submissions
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from homework_submissions
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lxy.userEntity.HomeworkSubmissions">
    <!--@mbg.generated-->
    insert into homework_submissions (id, homework_id, student_id, 
      submission_path, file_name, file_size, 
      file_type, submitted_at, `status`, 
      feedback, file_md5)
    values (#{id,jdbcType=BIGINT}, #{homeworkId,jdbcType=BIGINT}, #{studentId,jdbcType=BIGINT}, 
      #{submissionPath,jdbcType=VARCHAR}, #{fileName,jdbcType=VARCHAR}, #{fileSize,jdbcType=BIGINT}, 
      #{fileType,jdbcType=VARCHAR}, #{submittedAt,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, 
      #{feedback,jdbcType=LONGVARCHAR}, #{fileMd5,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lxy.userEntity.HomeworkSubmissions">
    <!--@mbg.generated-->
    insert into homework_submissions
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="homeworkId != null">
        homework_id,
      </if>
      <if test="studentId != null">
        student_id,
      </if>
      <if test="submissionPath != null">
        submission_path,
      </if>
      <if test="fileName != null">
        file_name,
      </if>
      <if test="fileSize != null">
        file_size,
      </if>
      <if test="fileType != null">
        file_type,
      </if>
      <if test="submittedAt != null">
        submitted_at,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="feedback != null">
        feedback,
      </if>
      <if test="fileMd5 != null">
        file_md5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="homeworkId != null">
        #{homeworkId,jdbcType=BIGINT},
      </if>
      <if test="studentId != null">
        #{studentId,jdbcType=BIGINT},
      </if>
      <if test="submissionPath != null">
        #{submissionPath,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null">
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="fileSize != null">
        #{fileSize,jdbcType=BIGINT},
      </if>
      <if test="fileType != null">
        #{fileType,jdbcType=VARCHAR},
      </if>
      <if test="submittedAt != null">
        #{submittedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="feedback != null">
        #{feedback,jdbcType=LONGVARCHAR},
      </if>
      <if test="fileMd5 != null">
        #{fileMd5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lxy.userEntity.HomeworkSubmissions">
    <!--@mbg.generated-->
    update homework_submissions
    <set>
      <if test="homeworkId != null">
        homework_id = #{homeworkId,jdbcType=BIGINT},
      </if>
      <if test="studentId != null">
        student_id = #{studentId,jdbcType=BIGINT},
      </if>
      <if test="submissionPath != null">
        submission_path = #{submissionPath,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null">
        file_name = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="fileSize != null">
        file_size = #{fileSize,jdbcType=BIGINT},
      </if>
      <if test="fileType != null">
        file_type = #{fileType,jdbcType=VARCHAR},
      </if>
      <if test="submittedAt != null">
        submitted_at = #{submittedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="feedback != null">
        feedback = #{feedback,jdbcType=LONGVARCHAR},
      </if>
      <if test="fileMd5 != null">
        file_md5 = #{fileMd5,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lxy.userEntity.HomeworkSubmissions">
    <!--@mbg.generated-->
    update homework_submissions
    set homework_id = #{homeworkId,jdbcType=BIGINT},
      student_id = #{studentId,jdbcType=BIGINT},
      submission_path = #{submissionPath,jdbcType=VARCHAR},
      file_name = #{fileName,jdbcType=VARCHAR},
      file_size = #{fileSize,jdbcType=BIGINT},
      file_type = #{fileType,jdbcType=VARCHAR},
      submitted_at = #{submittedAt,jdbcType=TIMESTAMP},
      `status` = #{status,jdbcType=INTEGER},
      feedback = #{feedback,jdbcType=LONGVARCHAR},
      file_md5 = #{fileMd5,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>